@import url("./pacman.css");
@import url("./ghost.css");

.game {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	flex-direction: column;
	min-height: 100vh;
	/*overflow: hidden;*/
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	height: 600px;
	background-color: rgb(14, 14, 51);
	position: relative;
}

.grid > div {
	width: 25px;
	height: 25px;
	box-sizing: border-box;
}

.empty {
	background-color: rgb(14, 14, 51);
}

.wall {
	background-color: rgb(20, 143, 180);
	border-radius: 30%;
}

.pac-dot {
	background-color: rgb(231, 247, 235);
	border: solid 6px rgb(14, 14, 51);
	border-radius: 50%;
}

.power-pellet {
	background-color: purple;
	border: solid 3px rgb(14, 14, 51);
	animation: blinker 1s linear infinite;
	border-radius: 50%;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.pac-man {
	background-color: yellow;
	border: 2px solid black;
	border-radius: 50%;
}

.blinky,
.pinky,
.inky,
.clyde {
	background-color: red;
	border: 2px solid black;
	border-radius: 50% 50% 0 0;
}

.pinky {
	background-color: plum;
}

.inky {
	background-color: cyan;
}

.clyde {
	background-color: orange;
}

.status {
	position: absolute;
	top: 300px;
	left: 50vw;
	transform-origin: center;
	transform: translateX(-50%);
	background-color: rgba(255, 255, 255, 0.8);
	border: solid 4px rgb(139, 0, 139);
	width: 85%;
	height: 30%;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	color: rgb(139, 0, 139);
	font-size: 2rem;
	font-weight: 700;
}
