.game {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	flex-direction: column;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 480px;
	height: 480px;
	border: solid 1px rgb(231, 239, 247);
	background-color: rgb(231, 239, 247);
}

.grid > div {
	width: 20px;
	height: 20px;
	box-sizing: border-box;
}

.empty {
	background-color: rgb(231, 239, 247);
}

.wall {
	background-color: darkslategray;
}

.pac-dot {
	background-color: grey;
	border: solid 6px rgb(231, 239, 247);
}

.power-pellet {
	background-color: purple;
	border: solid 3px white;
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.pac-man {
	background-color: yellow;
	border: 2px solid black;
	border-radius: 50%;
}
